{% extends 'base.html' %}

{% block content %}
{% if profile.is_employee %}
    <h3>Avaliar Prestador: {{ profile.name }}</h3>
{% else %}
    <h3>Avaliar Cliente: {{ profile.name }}</h3>
{% endif %}

<form action="{% url 'rate-profile' profile.pk %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-secondary">Enviar Avaliação</button>
</form>

<br>
<p><a href="{% url 'detail' profile.pk %}">Voltar para o perfil</a></p>
<br>

{% endblock content %}