{% extends 'base.html' %}
{% block title%} Agendamento {% endblock %}

{% block content %}

<h1>Serviços</h1>
<hr><br>
<section>
    <header>
    {% if user.is_client %}
        {% if not services %}
            <small>Ainda não existe nenhum serviço solicitado para este perfil.</small>
        {% else %}
            {% for service in services %}
                {% if user.id == service.client_id %}
                <h3>Serviço N°{{service.id}}</h3><br>
                <b>Prestador:</b> <a href="{% url 'detail' service.employee_id %}">Visualizar Perfil</a><br>
                <b>Cliente:</b> {{ user.name }} (Você)<br>
                <b>Descrição:</b> "{{ service.description }}"<br>
                    {% if service.job_date %}<br>
                        <b>Data do Serviço:</b> {{ service.job_date }}<br>
                        <b>Horário do Serviço:</b> {{ service.job_time }}<br>
                    {% else %}
                        <b>Data do Serviço:</b> <i><small>Ainda não há data agendada.</small></i>
                        <br>
                    {% endif %}<br>
                    {% if service.price %}
                    <b>Preço do Serviço:</b> R${{ service.price }}<br>
                {% else %}
                    <b>Preço do Serviço:</b> <i><small>Ainda não há preço orçado.</small></i>
                    <br>
                {% endif %}<br>
                        <a href="{% url 'budget-update' service.employee_id service.id %}" class="btn btn-primary btn-sm">Editar Orçamento do Serviço </a>
                        <a href="{% url 'schedule-update' service.employee_id service.id %}" class="btn btn-primary btn-sm">Agendar/Editar Data do Serviço</a>
                        <a href="{% url 'services-delete' service.employee_id service.id %}" class="btn btn-danger btn-sm">Excluir serviço</a>
                        <hr>
                {% endif %}
            {% endfor %}
        {% endif %}
        <br>
        <a href="{% url 'categories'%}" class="btn btn-secondary">Procurar Serviços</a><br><br>
    {% elif user.is_employee %}
        {% if not services %}
            <small>Ainda não existe nenhum serviço solicitado para este perfil.</small>
            <br><br>
        {% else %}
        {% for service in services %}
        {% if user.id == service.employee_id %}
            <b>Prestador:</b> {{ user.name }} (Você) <br>
            <b>Cliente:</b> <a href="{% url 'detail' service.client_id %}">Visualizar Perfil</a><br>
            <b>Descrição:</b> "{{ service.description }}"<br>
                {% if service.job_date %}<br>
                    <b>Data do Serviço:</b> {{ service.job_date }}<br>
                    <b>Horário do Serviço:</b> {{ service.job_time }}<br>
                {% else %}
                    <b>Data do Serviço:</b> <i><small>Ainda não há data agendada.</small></i>
                    <br>
                {% endif %}<br>
                {% if service.price %}
                <b>Preço do Serviço:</b> R${{ service.price }}<br>
            {% else %}
                <b>Preço do Serviço:</b> <i><small>Ainda não há preço orçado.</small></i>
                <br>
            {% endif %}<br>
                    <a href="{% url 'budget-update' service.employee_id service.id %}" class="btn btn-primary btn-sm">Pedir/Editar Orçamento do Serviço </a>
                    <a href="{% url 'schedule-update' service.employee_id 1 %}" class="btn btn-primary btn-sm">Editar Data do Serviço</a>
                    <a href="{% url 'services-delete' service.employee_id service.id %}" class="btn btn-danger btn-sm">Excluir serviço</a><br>
                    <hr>
        {% endif %}
    {% endfor %}
    {% endif %}
    {% else %}
        <small>Este perfil não é de cliente e nem de prestador.</small>
    {% endif %}
</section>
<br>

{% endblock %}