{% extends 'base.html' %}
{% block title%} Editar Orçamento {% endblock %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.id == services.client_id or user.id == services.employee_id %}

    <h2>Editar Orçamento</h2>
    <hr><br>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success">Atualizar</button><br><br>

    {% else %}
    <br><center><h3>Você não tem permissão para acessar esta página!</h3></center><br>

    {% endif %}
{% else %}
    <br><center><h3>Faça login para acessar esta página!</h3></center><br>
{% endif %}
{% endblock %}
