{% extends 'base.html' %}

{% block content %}
<h2>Atualizar Dados do Filme {{ movie.name }} ({{ movie.release_year}})</h2>
<form method="POST" action="{% url 'movies:update' movie.id%}">
    {% csrf_token %}
    <p>
        <label for="id_name">Título:</label>
        <input type="text" name="name" id="id_name" value="{{ movie.name }}" />
    </p>
    <p>
        <label for=" id_release_year">Ano de Lançamento:</label>
        <input type="number" name="release_year" id="id_release_year" value="{{ movie.release_year }}" />
    </p>
    <p>
        <label for=" id_poster_url">URL do Poster:</label>
        <input type="url" name="poster_url" id="id_poster_url" value="{{movie.poster_url}}" />
    </p>
    <button type="submit">Atualizar</button>
</form>

{% endblock content %}