{% extends 'base.html' %}
{% block title%} 404 ERROR: NOT FOUND {% endblock %}

{% block content %}

<h1><strong>Erro 404</strong></h1>

<h3><strong>Página não encontrada!</strong></h3>

<img src="https://png.pngtree.com/png-vector/20210219/ourlarge/pngtree-colorful-neon-glitch-404-text-png-image_2928701.jpg" width="350">
<br>

<small>Clique aqui para retornar para a página inicial</small>
<a href="{% url 'home' %}" class="btn btn-dark btn-sm btn-block">Home</a>

{% endblock %}

