{% extends 'base.html' %}
{% block title%} Sobre {% endblock %}

{% block content %}

<h2>Um pouco da história e objetivos da empresa...</h2> 
<hr><br>

<div class="media" style="text-align: justify;">
    <img src="https://i.imgur.com/CI8twJJ.jpg" width="400" class="mr-3 rounded">
    <p>A <strong>SOS Home</strong> surgiu a partir de uma ideia conjunta de quatro amigos, como uma 
        tentativa de solucionar a prestação de serviços em geral a domicílio, <strong><i>conectando quem 
        procura com quem sabe fazer</i>!</strong>
    <br><br>
    Este site é o resultado do projeto do Grupo D, proposto como forma de avaliação pela disciplina de 
        PMR3304 - Sistemas de Informação. Foi pedido que o grupo elaborasse um site de sua 
        escolha para aplicar os conceitos explicados nas aulas teóricas e de laboratório.
    <br>
    O grupo optou por um site de prestação de serviços diversos à domicílio, como marceneiro, 
    serralheiro, vidraceiro, etc. Na solicitação de um serviço, existem as etapas de pedido de 
    orçamento, agendamento e pagamento.
    <br><br>
</div>
<hr>
<h4>Grupo D:</h4><br>
<ul>
    <li>Filipe Costa Alencar Dantas - N°USP: 11806552</li>
    <li>Gabriel Souza Lima - N°USP: 11820106</li>
    <li>Victor Rocha da Silva - N°USP: 11223782</li>
    <li>Vitor Vac Bitu Alves - N°USP: 11913833</li>
</ul>
<hr>

{% endblock %}

    
