{% extends 'base.html' %}
{% block title%} Categoria: {{ cat.name }} {% endblock %}

{% block content %}

<h1>Categoria: {{ cat.name }}</h1>
<hr>

<img src="{{ cat.image }}" width="300px"> <br><br>

<h5>Descrição</h5>{{ cat.description }}
<br><hr>

<h5>Nossos Parceiros</h5>

{% if users %}

    <ul>
    {% for user in users %}
    <li> <a href="{% url 'detail' user.pk %}"><strong>{{ user }}</strong> </a> 
    {% endfor %}
    </ul>

{% else %}
    <small>Desculpa, ainda não existem prestadores de serviço nessa categoria...</small><br>
{% endif %}

<br>
<a href="{% url 'categories' %}" class="btn btn-secondary">Voltar </a>
<br><br>

{% endblock %}