{% extends 'base.html' %}
{% block title%} Home {% endblock %}

{% block content %}

<h2><i>Levando o melhor serviço até a sua casa!</i></h2>  
<hr><br>

<h5>O que você procura?</h5><br>

{% for cat in object_list %}
<div class="card mb-0" style="max-width: 800px; background-color: #bda625;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{ cat.image }}" class="card-img-top" alt="catimage">
        </div>
    <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">{{ cat.name }}</h5>
            <p class="card-text">{{ cat.description }}</p>
            <a href="{% url 'category-detail' cat.id %}" class="btn btn-primary" style="background-color: #0c052c;">Detalhes</a>
        </div>
    </div>
</div>
<br>
{% endfor %}

{% endblock %}


