{% extends 'base.html' %}
{% block title%} Pesquisa {% endblock %}

{% block content %}
    <h1>Busca de Serviços</h1>
    <br>
    <form class="input-group flex-nowrap" method="POST" action="{% url 'search-category' %}">
        {% csrf_token %}
        <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">🔎</span>
        </div>
            <input type="text" class="form-control" placeholder="Digite aqui o serviço que você procura..." 
                aria-label="searchbar" aria-describedby="addon-wrapping" name="searched">
            <button class="btn btn-outline-primary" type="submit">Pesquisar</button>
    </form>
    <br><br>

{% endblock %}

