{{ define "main" }}
<div class="apanemo">
    <h2>{{ .Title}}</h2>
    <hr>
    <foto1apanemo>
        <h4>Área de Lazer do Hotel</h4>
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/08/7f/07/af/apanemo.jpg?w=1200&h=-1&s=1" width="620px" height="380px">
    </foto1apanemo>
    <hr>
    <P>O Hotel Apanemo dispõe de 27 quartos e apartamentos divididos em cinco tipologias, consoante a sua capacidade e instalações. Cada quarto está decorado com a arquitectura tradicional da ilha. O hotel está localizado na área de Akrotiri, em Santorini. A sua localização deslumbrante oferece uma vista única da caldeira, do vulcão, mas também de forma anfiteatral em toda a ilha de Santorini. Cada quarto está decorado com bom gosto de acordo com a arquitectura tradicional de Santorini e tem a sua própria varanda privada com vistas espectaculares, garantindo uma estadia tranquila e confortável. A atmosfera calorosa e amigável garante uma hospitalidade que permanecerá inesquecível.</p>
    
    <ul>
        <li> Vista do Vulcão-Caldeira </li>        
        <p>Dos quartos do hotel, a vista se espalha em forma de anfiteatro por toda Santorini. Na maioria dos quartos e ao ar livre você pode apreciar a vista da magnífica caldeira e do vulcão no centro da ilha.</p>
        <hr>
        <li> Piscina e jacuzzi </li>
        <p>Apanemo tem uma das mais belas piscinas da ilha, que se estende por três níveis. Existe também uma piscina infantil, jacuzzi e um bar.</p>
        <hr>
        <li> Recepção </li>
        <p>A recepção do hotel está aberta diariamente das 08:00h às 22:00h. A recepção oferece serviço de despertar e bagagem, enquanto há a possibilidade de usar um tablet ou laptop na área de recepção (mediante solicitação). O acesso à Internet (WiFi) é gratuito em todo o hotel.</p>
        <p>O hotel também dispõe de uma área de estacionamento privado e dispõe de serviço de transporte gratuito para a área de Akrotiri.</p>
        <hr>
        <li> Facilidades de quarto </li>
        <p>Cada quarto tem uma casa de banho privativa, um frigorífico, uma televisão, ar condicionado e um secador de cabelo. Um serviço de limpeza diário também está disponível em todos os quartos.</p>
        <hr>
        <li> Salão do café da manhã </li>
        <p>Na sala de café da manhã especialmente projetada, um rico buffet com as mais saborosas especialidades de Santorini é servido diariamente (07:00 - 10:30).</p>
        <hr>
        <li> Jardim </li>
        <p>O jardim do hotel estende-se ao ar livre e é composto por belas flores em cores marcantes.</p>
    </ul>
    <hr>
    <foto2apanemo>
        <h4>Quarto do Hotel</h4>
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/22/00/5e/cf/apanemo-hotel-suites.jpg?w=1200&h=-1&s=1" width="620px" height="380px">
    </foto2apanemo>
    <hr>
    <br>
</div>
{{ end }}