{{ define "main" }}
<div class="astro">
    <h2>{{ .Title}}</h2>
    <hr>
    <foto1cavo>
        <h4>Área de Lazer do Hotel</h4>
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0e/35/91/16/cavo-bianco.jpg?w=1200&h=-1&s=1" width="620px" height="400px">
    </foto1cavo>
    <hr>
    <p> O Cavo Bianco é uma ótima opção para pessoas que visitam o vilarejo de Kamari em Santorini. O hotel conta com um ambiente romântico além de várias comodidades para enriquecer a sua estadia.
        Os quartos contam com TV de tela plana, ar-condicionado e minibar, e no Cavo Bianco é fácil acessar a internet com o wi-fi gratuito disponível.
        Você pode ainda desfrutar algumas das comodidades oferecidas pelo hotel, como recepção 24 horas, serviço de quarto e concierge. Além disso, os hóspedes podem aproveitar a piscina e o café da manhã durante a estadia. Para aumentar a conveniência, o estacionamento gratuito e público perto está disponível para os hóspedes.
        Quando bater aquela fome, não deixe de conferir Il Forno Pizza and Pasta, Sabbia Nera Trattoria e Al Fresco, que são alguns dos restaurantes que servem comida italiana, muito populares entre moradores e visitantes.
        Além disso, durante sua viagem, não deixe de conferir um sítio histórico, como Ancient Thera.
        Aproveite sua temporada em Kamari! </p>
    <hr>
    <foto2cavo>
        <h4>Quarto do Hotel</h4>
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/09/df/7b/0d/room.jpg?w=700&h=-1&s=1" width="580px" height="360px">
    </foto2cavo>
    <hr>
    <br>
</div>
{{ end }}