{{ define "main" }}
<div class="destinos">
    <h2>{{ .Title}}</h2>
    <hr>
    <fotodest1>
        <h4>Trilha de Caminhada: Fira - Oia - Santorini</h4>
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/28/c3/70/photo2jpg.jpg?w=1200&h=-1&s=1" width="380px" height="450px">
    </fotodest1>
    <p> Aproveite a sua viagem para uma caminhada em família, amigos ou até mesmo sozinho (levando cerca de 30min em caminhada confortável). Paisagem deslumbrante, perfeita para tirar fotos e gravar vídeos. Não há sombra no caminho, então se prepare com filtro solar, chapéu, óculos escuros e água se estiver no verão.</p>
    <hr>
    <fotodest2>
        <h4>Baía de Amoudi</h4>
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/11/64/27/8f/20170705-122927-largejpg.jpg?w=1200&h=-1&s=1" width="620px" height="380px">
    </fotodest2>
    <p> Uma bela praia, repleta de restaurantes, linda vista para o pôr do sol. Local bastante conhecido por mergulhos e saltos em queda livre no mar, além de contar com diversos passeios e excursões de barco. </p>
    <hr>
    <fotodest3>
        <h4>Museu da Pré-História de Santorini</h4>
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/82/a9/10/photo9jpg.jpg?w=1200&h=-1&s=1" width="620px" height="380px">
    </fotodest3>
    <p> O museu abriga achados das escavações em Akrotiri, conduzidas sob os auspícios da Sociedade Arqueológica de Atenas, as escavações anteriores em Potamos feitas por membros do Instituto Arqueológico Alemão em Atenas e escavações de resgate em vários outros locais da ilha, que foram realizados pelo 21º Eforato de Antiguidades para as Cíclades e Samos. Também estão em exibição outros objetos descobertos fortuitamente ou entregues pela população local. </p>
    <hr>
    <br>
</div>
{{ end }}