{{ define "main" }}
<div class="restaurantes">
    <h2>{{ .Title}}</h2>
    <hr>
    <fotorest1>
        <h4>Agaze Bistro Restaurant Bottega</h4>
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/13/eb/39/43/agaze.jpg" width="520px" height="370px">
    </fotorest1>
    <p> Agaze, que significa de braços dados, é um grande encontro e mistura da minha origem grega e siciliana. O meu amor pela tradição e pelas viagens está na base do conceito da Agaze: ter perambulado pelo mundo me fez entender a relevância da comida como um dos principais personagens da cultura. Este é o cerne do projeto, para estabelecer um bistrô grego contemporâneo inspirado na tradição, em Santorini, na requintada vila de Pyrgos. Sendo também Designer de Interiores, dei a minha alma para fazer da Agaze um local de encontro único com pormenores intransigentes. Detalhes vintage, cores vivas, plantas exuberantes coexistem em um equilíbrio harmonioso, criando um restaurante bistrô Santorini em Pyrgos, onde todos se sentem em casa.
        Contar comida é encontrar o encontro entre os sentidos e a história que está dentro das cozinhas e antes dos pratos. É revelar ideias e sensações, é conseguir transmitir a alegria de certos encontros e o prazer de certas descobertas, é recriar, paradoxalmente até em palavras. Aquelas sugestões que silenciam as bocas e as tornam eternas. </p>
    <hr>
    <fotorest2>
        <h4>Armeni Restaurant</h4>
        <img src="https://youimg1.tripcdn.com/target/1A04180000013jrpl637F.jpg" width="520px" height="370px">
    </fotorest2>
    <p> Num ambiente simples, despretensioso e descontraído e em absoluta fé na cozinha santorinense, o Armeni irá cativá-lo com os seus pratos deliciosos embalados com os sabores do sol e do mar.
        O ambiente tranquilo e a decoração emocionante abraçam os hóspedes em um ambiente alegre e alegre. Linhas limpas e tons terrosos fazem com que os viajantes se sintam perfeitamente em casa e à vontade, enquanto a localização única com vistas deslumbrantes para as cintilantes águas do mar Egeu o deixará maravilhado.
        Saboreie deliciosos frutos do mar frescos da mais alta qualidade, a poucos passos do oceano, nesta taverna única.
        Aqui, você encontrará as pessoas, lugares e pratos que irão impressionar seus paladares </p>
    <hr>
    <br>
</div>
{{ end }}